* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
  min-width: 100%;
  background-color: azure;
  color: #1b1b32;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
}

.header {
  padding: 15px 0;
  background-color: rgb(227, 231, 251);
  color: rgb(56, 56, 56);
}

.title {
  margin-left: -2rem;
  margin-top: 25px;
  margin-bottom: 10px;
  width: 300px;
}

.noMasOlvidos {
  font-style: italic;
  color: #5c5c6685;
}

#github {
  width: 30px;
}

.git {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

small{
  margin-left: 10px;
}

/* Componente Show */
.contenedorShow {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

table,
th,
td {
  font-weight: 400;
  border-collapse: collapse;
  border-bottom: 1px solid #ddd;
  padding: 5px 0;
}

tr:hover {
  background-color: rgb(201, 203, 253);
}

.tablaTareas {
  min-width: 300px;
  max-width: 700px;
  width: 95%;
  flex: 1;
  /* border-spacing: 2px; */
}

.tituloTabla {
  background-color: rgb(200, 188, 247);
}

/* tbody {
  flex-direction: row;
  margin: 5px;
} */

.editarTareas {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.realizadaCheckbox {
  border: none;
  background-color: rgba(255, 255, 255, 0);
}

.tdTarea {
  text-align: start;
}

.tdTareaRealizada {
  text-align: start;
  text-decoration: line-through;
}

.tdTarea::first-letter,
.tdTareaRealizada::first-letter {
  text-transform: uppercase;
}

.fondoRealizada {
  background-color: rgba(48, 44, 56, 0.082);
}

/* Componente Show */
form {
  width: 80%;
  margin: auto;
  padding: 10px;
}

.inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

input[type="text"],
select {
  /* width: 60%; */
  max-width: 400px;
  padding: 3px 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
}

input[type="text"]:hover {
  border: 1px solid rgb(172, 176, 248);
}

/* #inputInvisible {
  display: none;
} */

.formButtonsCreate {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

/* Componente Create */

.contenedorForm {
  margin-top: 20px;
}
