*{
    background-color: azure!important;
    width: 100%;

}

th,td {
    padding: 10px;
}

.tablaTareas {
    /* display: flex;
    flex-direction: row; */
    width: 70%;
    margin: auto;
    border: lightslategray solid 0.3px;
}

.tituloTabla {
    background-color: rgb(188, 230, 242)!important; 
}

td {
    width:fit-content;
    margin: auto;
}